CustomChampionCreationTool/Connected Services/FacadeService/Facade3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49418/Facade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CCCTLibrary" />
  <xs:complexType name="TupleOfArrayOfResourceReturnMessageaBdP6hTx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfResource" Namespace="http://schemas.datacontract.org/2004/07/CCCTLibrary" />
          <GenericParameter Name="ReturnMessage" Namespace="http://schemas.datacontract.org/2004/07/CCCTLibrary" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CCCTLibrary" name="m_Item1" nillable="true" type="q1:ArrayOfResource" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CCCTLibrary" name="m_Item2" nillable="true" type="q2:ReturnMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfResourceReturnMessageaBdP6hTx" nillable="true" type="tns:TupleOfArrayOfResourceReturnMessageaBdP6hTx" />
  <xs:complexType name="TupleOfArrayOfAbilityReturnMessageaBdP6hTx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfAbility" Namespace="http://schemas.datacontract.org/2004/07/CCCTLibrary" />
          <GenericParameter Name="ReturnMessage" Namespace="http://schemas.datacontract.org/2004/07/CCCTLibrary" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CCCTLibrary" name="m_Item1" nillable="true" type="q3:ArrayOfAbility" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CCCTLibrary" name="m_Item2" nillable="true" type="q4:ReturnMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfAbilityReturnMessageaBdP6hTx" nillable="true" type="tns:TupleOfArrayOfAbilityReturnMessageaBdP6hTx" />
  <xs:complexType name="TupleOfArrayOfChampionReturnMessageaBdP6hTx">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="TupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ArrayOfChampion" Namespace="http://schemas.datacontract.org/2004/07/CCCTLibrary" />
          <GenericParameter Name="ReturnMessage" Namespace="http://schemas.datacontract.org/2004/07/CCCTLibrary" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CCCTLibrary" name="m_Item1" nillable="true" type="q5:ArrayOfChampion" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CCCTLibrary" name="m_Item2" nillable="true" type="q6:ReturnMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TupleOfArrayOfChampionReturnMessageaBdP6hTx" nillable="true" type="tns:TupleOfArrayOfChampionReturnMessageaBdP6hTx" />
</xs:schema>