CustomChampionCreationTool/Connected Services/FacadeService/Facade.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www12.steenhoff.dk/Facade.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CCCTLibrary" />
  <xs:import schemaLocation="http://www12.steenhoff.dk/Facade.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Initialize">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="InitializeResult" nillable="true" type="q1:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="source" nillable="true" type="q2:Resource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="UpdateResourceResult" nillable="true" type="q3:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetResourcesResult" nillable="true" type="q4:TupleOfArrayOfResourceReturnMessageaBdP6hTx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="source" nillable="true" type="q5:Resource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="NewResourceResult" nillable="true" type="q6:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResource">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="source" nillable="true" type="q7:Resource" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResourceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="DeleteResourceResult" nillable="true" type="q8:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAbility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="source" nillable="true" type="q9:Ability" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAbilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="UpdateAbilityResult" nillable="true" type="q10:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbilities">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetAbilitiesResult" nillable="true" type="q11:TupleOfArrayOfAbilityReturnMessageaBdP6hTx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewAbility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="source" nillable="true" type="q12:Ability" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewAbilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="NewAbilityResult" nillable="true" type="q13:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAbility">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="source" nillable="true" type="q14:Ability" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAbilityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="DeleteAbilityResult" nillable="true" type="q15:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChampion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="source" nillable="true" type="q16:Champion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateChampionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="UpdateChampionResult" nillable="true" type="q17:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChampions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChampionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetChampionsResult" nillable="true" type="q18:TupleOfArrayOfChampionReturnMessageaBdP6hTx" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewChampion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="source" nillable="true" type="q19:Champion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewChampionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="NewChampionResult" nillable="true" type="q20:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChampion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="source" nillable="true" type="q21:Champion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteChampionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CCCTLibrary" minOccurs="0" name="DeleteChampionResult" nillable="true" type="q22:ReturnMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>