CCCTApp/Web References/FacadeService/Facade3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CCCTLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CCCTLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://www12.steenhoff.dk/Facade.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
  <xs:import schemaLocation="http://www12.steenhoff.dk/Facade.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ReturnMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChainMessage" nillable="true" type="tns:ReturnMessage" />
      <xs:element minOccurs="0" name="DBScheme" nillable="true">
        <xs:complexType>
          <xs:annotation>
            <xs:appinfo>
              <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data" minOccurs="0" name="DBState" type="q1:ConnectionState" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Exception" nillable="true" type="q2:Exception" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WasSuccesful" type="xs:boolean" />
      <xs:element minOccurs="0" name="Where" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnMessage" nillable="true" type="tns:ReturnMessage" />
  <xs:complexType name="Resource">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MaxValue" type="xs:int" />
      <xs:element minOccurs="0" name="MaxedAtStart" type="xs:boolean" />
      <xs:element minOccurs="0" name="MinValue" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:complexType name="ArrayOfResource">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Resource" nillable="true" type="tns:Resource" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResource" nillable="true" type="tns:ArrayOfResource" />
  <xs:complexType name="Ability">
    <xs:sequence>
      <xs:element minOccurs="0" name="CooldownAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CooldownEmpAlt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CooldownPas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DamageAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DamageEmpAlt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DamagePas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionEmpAlt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DescriptionPas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HaveActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="HaveEmpoweredOrAlternative" type="xs:boolean" />
      <xs:element minOccurs="0" name="HavePassive" type="xs:boolean" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IsToogleAble" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RangeAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RangeEmpAlt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RangePas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceCostAct" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceCostEmpAlt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceUse" nillable="true" type="tns:Resource" />
      <xs:element minOccurs="0" name="Slot" type="tns:LibRepo.AbilitySlot" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Ability" nillable="true" type="tns:Ability" />
  <xs:simpleType name="LibRepo.AbilitySlot">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Passive" />
      <xs:enumeration value="Q" />
      <xs:enumeration value="W" />
      <xs:enumeration value="E" />
      <xs:enumeration value="R" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LibRepo.AbilitySlot" nillable="true" type="tns:LibRepo.AbilitySlot" />
  <xs:complexType name="ArrayOfAbility">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Ability" nillable="true" type="tns:Ability" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAbility" nillable="true" type="tns:ArrayOfAbility" />
  <xs:complexType name="Champion">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbilityPowerGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AbilityPowerStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArmorGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ArmorStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttackDamageGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttackDamageStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttackSpeedGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AttackSpeedStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CriticalStrikeChanceGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CriticalStrikeChanceStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EAbility" nillable="true" type="tns:Ability" />
      <xs:element minOccurs="0" name="HealthGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HealthRegenGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HealthRegenStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HealthStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MagicResistGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MagicResistStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoveSpeedGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MoveSpeedStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PassiveAbility" nillable="true" type="tns:Ability" />
      <xs:element minOccurs="0" name="QAbility" nillable="true" type="tns:Ability" />
      <xs:element minOccurs="0" name="RAbility" nillable="true" type="tns:Ability" />
      <xs:element minOccurs="0" name="RangeGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RangeStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Resource" nillable="true" type="tns:Resource" />
      <xs:element minOccurs="0" name="ResourceGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceRegenGrowth" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceRegenStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResourceStart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WAbility" nillable="true" type="tns:Ability" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Champion" nillable="true" type="tns:Champion" />
  <xs:complexType name="ArrayOfChampion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Champion" nillable="true" type="tns:Champion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfChampion" nillable="true" type="tns:ArrayOfChampion" />
</xs:schema>